parameters:
  phpVersion: 80200
  level: 0
  paths:
    - po
    - Store
  editorUrl: '%%relfile%%:%%line%%'
  editorUrlTitle: '%%relfile%%:%%line%%'
  errorFormat: table
# Checks from higher levels that we want to include here
# Level 2
  checkClassCaseSensitivity: true
  checkPhpDocMissingReturn: true
#  checkThisOnly: false
# Level 3
  checkPhpDocMethodSignatures: true
# Level 5
#  checkFunctionArgumentTypes: true

  # @todo this should eventually be fixed
  # many are just because the suggested packages aren't installed,
  # and some relate to swat/admin typing issues ... but several are
  # issues with this pacakge.
  ignoreErrors:
    -
      message: '#^Access to constant PRODUCTION on an unknown class net\\authorize\\api\\constants\\ANetEnvironment\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Access to constant SANDBOX on an unknown class net\\authorize\\api\\constants\\ANetEnvironment\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Class net\\authorize\\api\\contract\\v1\\AnetApiResponseType not found\.$#'
      identifier: class.notFound
      count: 2
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Class net\\authorize\\api\\contract\\v1\\TransactionResponseType not found\.$#'
      identifier: class.notFound
      count: 2
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\CreateTransactionRequest not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\CreditCardType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\CustomerAddressType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\CustomerDataType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\ExtendedAmountType not found\.$#'
      identifier: class.notFound
      count: 2
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\LineItemType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\MerchantAuthenticationType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\OrderType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\PaymentType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\contract\\v1\\TransactionRequestType not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Instantiated class net\\authorize\\api\\controller\\CreateTransactionController not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreAuthorizeNetPaymentProvider.php

    -
      message: '#^Access to an undefined property StoreBingShoppingGenerator\:\:\$last_header\.$#'
      identifier: property.notFound
      count: 2
      path: Store/StoreBingShoppingGenerator.php

    -
      message: '#^Instantiated class StoreBingShoppingGenerator is abstract\.$#'
      identifier: new.abstract
      count: 1
      path: Store/StoreBingShoppingUploader.php

    -
      message: '#^Access to constant AVS on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to constant AVS_AND_CVV on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to constant CVV on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to constant GATEWAY_REJECTED on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to constant PROCESSOR_DECLINED on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to constant SETTLEMENT_DECLINED on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Call to static method environment\(\) on an unknown class Braintree\\Configuration\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Call to static method merchantId\(\) on an unknown class Braintree\\Configuration\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Call to static method privateKey\(\) on an unknown class Braintree\\Configuration\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Call to static method publicKey\(\) on an unknown class Braintree\\Configuration\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Call to static method sale\(\) on an unknown class Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Class Braintree\\Exception\\Authentication not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Class Braintree\\Exception\\Authorization not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Class Braintree\\Exception\\Configuration not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Class Braintree\\Exception\\ServerError not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Class Braintree\\Exception\\UpgradeRequired not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Parameter \$external_transaction of method StoreBraintreePaymentProvider\:\:createPaymentMethodTransaction\(\) has invalid type Braintree\\Transaction\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Parameter \$response of method StoreBraintreePaymentProvider\:\:generateExceptionFromResponse\(\) has invalid type Braintree\\Base\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StoreBraintreePaymentProvider.php

    -
      message: '#^Access to private property \$composite_widgets_created of parent class SwatWidget\.$#'
      identifier: property.private
      count: 1
      path: Store/StoreCartLightbox.php

    -
      message: '#^Deprecated in PHP 8\.0\: Required parameter \$app follows optional parameter \$id\.$#'
      identifier: parameter.requiredAfterOptional
      count: 1
      path: Store/StoreCartLightbox.php

    -
      message: '#^Method StoreCartLightbox\:\:displayCartEntries\(\) should return string but return statement is missing\.$#'
      identifier: return.missing
      count: 1
      path: Store/StoreCartLightbox.php

    -
      message: '#^Method StoreCartLightbox\:\:displayContent\(\) should return string but return statement is missing\.$#'
      identifier: return.missing
      count: 3
      path: Store/StoreCartLightbox.php

    -
      message: '#^Access to constant ERROR_ERROR on an unknown class Payment_PayPal_SOAP\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Access to constant ERROR_WARNING on an unknown class Payment_PayPal_SOAP\.$#'
      identifier: class.notFound
      count: 6
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Caught class Payment_PayPal_SOAP_ErrorException not found\.$#'
      identifier: class.notFound
      count: 6
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Class Payment_PayPal_SOAP_ErrorException not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Instantiated class Payment_PayPal_SOAP not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Instantiated class StorePaymentException is abstract\.$#'
      identifier: new.abstract
      count: 1
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Undefined variable\: \$parameters$#'
      identifier: variable.undefined
      count: 1
      path: Store/StorePayPalPaymentProvider.php

    -
      message: '#^Undefined variable\: \$periods$#'
      identifier: variable.undefined
      count: 5
      path: Store/admin/components/Ad/Details.php

    -
      message: '#^Call to an undefined static method AdminDBOrder\:\:buildFrame\(\)\.$#'
      identifier: staticMethod.notFound
      count: 1
      path: Store/admin/components/Item/Order.php

    -
      message: '#^Caught class Services_StrikeIron_SoapException not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/dataobjects/StoreAddress.php

    -
      message: '#^Instantiated class Services_StrikeIron_VerifyAddressUsa not found\.$#'
      identifier: class.notFound
      count: 1
      path: Store/dataobjects/StoreAddress.php

    -
      message: '#^Instantiated class StoreOrderConfirmationMailMessage is abstract\.$#'
      identifier: new.abstract
      count: 2
      path: Store/dataobjects/StoreOrder.php

    -
      message: '#^Undefined variable\: \$card_type_id$#'
      identifier: variable.undefined
      count: 1
      path: Store/pages/StoreCheckoutPaymentMethodPage.php
