#available_cart_view   tfoot th,
#unavailable_cart_view tfoot th,
#saved_cart_view       tfoot th,
#item_container             tfoot th {
	text-align: right;
}

#available_cart_view   tbody th,
#unavailable_cart_view tbody th,
#saved_cart_view       tbody th,
#item_container             tbody th {
	background: none;
	background-color: #FFFFEE;
}

#available_cart_view   .swat-table-view-group,
#unavailable_cart_view .swat-table-view-group,
#saved_cart_view       .swat-table-view-group,
#item_container       .swat-table-view-group {
	border: 0;
}

.store-cart-description {
	width: 100%;
}

/* Product Cart (mini cart view on product page) */

#main-content #cart_frame .swat-frame-title {
	font-size: 120%;
}

#cart_frame ul.swat-toolbar {
	width: 99%;
	background: none;
	border: 0;
	margin: 0;
	position: static;
	text-align: right;
	font-size: 80%;
	font-family: sans-serif;
}

#cart_frame .swat-toolbar .swat-tool-link,
#cart_frame .swat-toolbar .swat-tool-link-insensitive {
	border: none;
	text-decoration: underline;
}
