.store-cart-view tfoot th {
	text-align: right;
}

.store-cart-view tbody th {
	background: none;
}

.store-cart-view tbody td.swat-table-view-group {
	border: 0;
}

.store-cart-description {
	width: 100%;
}

/* Product Cart (mini cart view on product page) */

#main-content #cart_frame .swat-frame-title {
	font-size: 120%;
}

#cart_frame ul.swat-toolbar {
	width: 99%;
	background: none;
	border: 0;
	margin: 0;
	position: static;
	text-align: right;
	font-size: 80%;
	font-family: sans-serif;
}

#cart_frame .swat-toolbar .swat-tool-link,
#cart_frame .swat-toolbar .swat-tool-link-insensitive {
	border: none;
	text-decoration: underline;
}
