.store-cart-entry-view tfoot th,
.store-order-item-view tfoot th {
	text-align: right;
}

.store-cart-entry-view tbody th,
.store-order-item-view tbody th {
	background: none;
}

.store-cart-entry-view thead th,
.store-order-item-view thead th {
	white-space: nowrap;
}

.store-cart-entry-view tbody td.swat-table-view-group,
.store-order-item-view tbody td.swat-table-view-group {
	border: 0;
}

.store-cart-description {
	width: 100%;
}

.store-cart-discount {
	color: #090;
	font-size: 90%;
}

.swat-table-view .store-free {
	text-align: right;
}

#cart_message_display #cart_view.swat-table-view {
	width: auto;
	margin: 0.5em 0;
}

#cart_message_display #cart_view.swat-table-view .store-cart-description {
	width: auto;
}

#cart_message_display #cart_view.swat-table-view th {
	font-weight: normal;
}

#cart_message_display #cart_view.swat-table-view th,
#cart_message_display #cart_view.swat-table-view td {
	color: #555;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#cart_message_display #cart_view.swat-table-view thead th {
	border-color: #eeeabc;
}

#cart_message_display #cart_view.swat-table-view tbody tr {
	background-image: url(../images/swat-table-view-cell-background-message.png);
	background-color: #fffbc9;
}

#cart_message_display #cart_view.swat-table-view tbody td {
	vertical-align: top;
	padding: 0.5em;
}

#cart_message_display #cart_view.swat-table-view .swat-table-view-group {
	background: #fffbc9;
}
