@import url("store-mini-cart.css");


.store-quick-order-item-loading {
	font-family: sans-serif;
	font-size: 80%;
	color: #91916e;
}

#article_bodytext {
	float: right;
	width: 140px;
}

#quick_order_form {
	margin-right: 160px;
}

th.store-quick-order-item-selector,
td.store-quick-order-item-selector {
	width: 100%;
}

#quick_order_form td.swat-cell-renderer {
	padding-top: 1em;
	padding-bottom: 1em;
}

#quick_order_form td.store-quick-order-item-selector label {
	font-weight: normal;
}

#quick_order_form td.store-quick-order-item-selector select {
	font-size: 80%;
}

#quick_order_frame .swat-frame-contents {
	padding-left: 6px;
	padding-right: 4px;
}

#quick_order_frame .swat-footer-form-field {
	margin-left: -6px;
	margin-right: -4px;
}

#quick_order_frame .store-quantity-entry {
	width: 2.5em;
}

#quick_order_frame .swat-table-view .sku-column {
	padding-left: 4px;
	padding-right: 2px;
}

#quick_order_frame .swat-table-view .sku-column .swat-entry {
	width: 3.5em;
}

#cart_view.swat-table-view {
	width: auto;
	margin: 0.5em 0;
}

#cart_view.swat-table-view .store-cart-description {
	width: auto;
}

#cart_view.swat-table-view .swat-table-view-group {
	padding-top: 0.5em;
}

#cart_view.swat-table-view th,
#cart_view.swat-table-view td {
	color: #555;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.cart-message-links a {
	font-weight: bold;
}
