#basic_info_container #basic_column_1 {
	float: left;
	width: 60%;
}

#basic_info_container #basic_column_2 {
	float: left;
	width: 38%;
	margin-left: 2%;
	display: block;
}

#basic_info_container #basic_column_2 #comments {
	width: 98%;
}
