/* Billing & Shipping Addresses */

#billing_address_form,
#shipping_address_form {
	border: 0;
	padding: 0;
	margin: 1em;
	/* Set a solid background color to make new address disclosure not */
	/* have Cleartype issues in Windows XP. Background must be overridden */
	/* On sites without a white background. */
	background: #fff;
}

.checkout-no-column .swat-entry,
.checkout-column-left .swat-entry,
.checkout-column-right .swat-entry {
	width: 95%;
}

.checkout-no-column #billing_address_form,
.checkout-no-column #shipping_address_form {
	margin: 0;
	width: 42%
}

.add-new {
	font-weight: bold;
}

.swat-form #mailing_subscriber_field {
	clear: left;
}

.swat-form #mailing_subscriber_field label {
	font-weight: normal;
}

#billing_address_first_name_field.swat-form-field-with-messages,
#billing_address_last_name_field.swat-form-field-with-messages,
#shipping_address_first_name_field.swat-form-field-with-messages,
#shipping_address_last_name_field.swat-form-field-with-messages,
#billing_address_postalcode_field.swat-form-field-with-messages,
#shipping_address_postalcode_field.swat-form-field-with-messages {
	width: 42%;
	padding-left: 2%;
	padding-right: 2%;
}

#billing_address_first_name_field.swat-form-field-with-messages,
#shipping_address_first_name_field.swat-form-field-with-messages,
#billing_address_postalcode_field.swat-form-field-with-messages,
#shipping_address_postalcode_field.swat-form-field-with-messages {
	margin-right: 3%;
}


/* {{{ Address Verification */

.checkout-address-verified {
	margin: 0;
	padding: 0;
}

.checkout-address-verified span.address {
	display: block;
	padding: 0 0 1em 1em;
}

.swat-message-display .address-verification-yes {
	margin-right: 0.5em;
	font-weight: bold;
}

/* }}} */
