/* {{{ Address Verification */

span.address {
	display: block;
	padding: 0 0.5em 1em 2em;
}

.swat-message-display .address-verification-yes {
	margin-right: 0.5em;
	font-weight: bold;
}


/* }}} */
