#store_product_cart {
	display: none;
	position: absolute;
	top: -12px;
	right: 10px;
	width: 378px;
	text-align: left;
	z-index: 1000;
}

body > #store_product_cart { position: fixed; }

#store_product_cart_body {
	background: url(../images/mini-cart-background.png) repeat-y -378px 0;
	padding: 0 14px;
}

* html #store_product_cart_body {
	background-image: url(../images/mini-cart-background-ie.png);
}

*+html #store_product_cart_body {
	background-image: url(../images/mini-cart-background-ie.png);
}

#store_product_cart_top {
	background: url(../images/mini-cart-background.png) no-repeat 0 100%;
	height: 27px;
}

* html #store_product_cart_top {
	background-image: url(../images/mini-cart-background-ie.png);
}

*+html #store_product_cart_top {
	background-image: url(../images/mini-cart-background-ie.png);
}

#store_product_cart_bottom {
	background: url(../images/mini-cart-background.png) no-repeat -756px 100%;
	height: 26px;
}

* html #store_product_cart_bottom {
	background-image: url(../images/mini-cart-background-ie.png);
}

*+html #store_product_cart_bottom {
	background-image: url(../images/mini-cart-background-ie.png);
}

#store_product_cart_body #cart_form {
	max-height: 300px;
	overflow: auto;
	border-top: 1px solid #dfd5c3;
	margin: 15px 0 10px 0;
}

#store_product_cart_content {
	padding-top: 5px;
}

#store_product_cart .swat-table-view {
	background: #f0e6d6;
}

#store_product_cart #cart_view.swat-table-view tr {
	border-bottom: 1px solid #dfd5c3;
}

#store_product_cart .swat-table-view .swat-table-view-group {
	background: #fff;
	padding-top: 10px;
	padding-left: 10px;
}

#store_product_cart div.swat-table-view-column-renderer {
	display: block;
}

#store_product_cart tbody td {
	padding-top: 3px;
	padding-bottom: 3px;
}

#store_product_cart .store-cart-discount {
	font-size: 60%;
}

#store_product_cart .discount {
	color: #090;
}

#store_product_cart tbody td.swat-image-cell-renderer {
	padding-left: 10px;
}

#store_product_cart tbody td.remove-column {
	padding-right: 10px;
}

#store_product_cart tbody td.quantity-column {
	padding: 8px 6px 0 0;
	font-weight: bold;
}

#store_product_cart #cart_view.swat-table-view .store-cart-description {
	width: 100%;
	padding: 0.4em;
}

#store_product_cart #cart_view.swat-table-view {
	margin: 0;
	width: 100%;
}

#store_product_cart #cart_view.swat-table-view th {
	font-weight: normal;
}

#store_product_cart #cart_view.swat-table-view tbody td {
	vertical-align: top;
}

#store_product_cart #cart_view.swat-table-view tbody td.description-column {
	color: #6B685B
}

#store_product_cart input.store-remove {
	background: #fff;
	color: #900;
}

#store_product_cart input.store-remove:hover {
	color: #b00;
}

#store_product_cart #cart_view.swat-table-view tbody td.remove-column .swat-money-cell-renderer {
	font-size: 135%;
	font-weight: bold;
}

#store_product_cart img.swat-image-cell-renderer {
	border: 1px solid #8f8874;
	background: #fff;
	padding: 2px;
}

#store_product_cart .added-message {
	padding: 4px;
	float: right;
	background: #fffbc9;
	width: 130px;
	text-align: center;
}

#store_product_cart h2,
#store_product_cart h3 {
	margin: 0 10px;
	font-size: 130%;
}

#store_product_cart .store-cart-description h4 {
	color: #3f0e08;
	font-size: 13px;
	margin-bottom: 3px;
}

#store_product_cart .store-cart-description {
	font-size: 11px;
}

#store_product_cart .store-cart-description a.more-link {
	font-weight: bold;
}

#store_product_cart .empty-message {
	padding: 0 10px;
}

#store_product_cart .empty-message h2 {
	margin: 0 0 10px 0;
}

#store_product_cart #cart_link_container {
	float: right;
	padding: 10px;
}

#store_product_cart #checkout_container {
	float: right;
	padding: 10px;
}

#store_product_cart #checkout_form {
	margin: 5px 10px 0 10px;
}
