@import url("store-mini-cart.css");


.store-quick-order-item-loading {
	font-family: sans-serif;
	font-size: 80%;
	color: #91916E;
}

#article-bodytext {
	float: right;
	width: 200px;
}

#quick_order_form {
	margin-right: 220px;
}

th.store-quick-order-description-header,
td.store-quick-order-description-cell {
	width: 100%;
}

#quick_order_form td.swat-cell-renderer {
	padding-top: 1em;
	padding-bottom: 1em;
}

#quick_order_form td.store-quick-order-description-cell label {
	font-weight: normal;
}

#quick_order_form td.store-quick-order-description-cell select {
	width: 98%;
	font-size: 80%;
}
