/* Checkout Front */

#new_frame,
#login_frame {
	float: left;
	width: 47%;
}

#new_frame {
	margin-right: 3%;
}

#new_frame input#new_email_address,
#login_frame input#login_email_address {
	width: 98%;
}

#new_frame p,
#login_frame p {
	margin: 0 0 0.5em 0;
	line-height: 1.2;
}
