#payment_method_form {
	border: 0;
	padding: 0;
}

.add-new {
	font-family: sans-serif;
	font-weight: bold;
}

.swat-form #payment_method_save_field label {
	font-weight: normal;
}

.checkout-no-column #payment_method_list_container,
.checkout-no-column #payment_method_form {
	float: left;
	width: 45%;
	display: inline;
}
