/* Overlay */

.store-product-image-display-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.store-product-image-display-overlay-mask {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	background: #000;
	cursor: default;
	opacity: 0.75;
	filter: alpha(opacity=75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.store-product-image-display-overlay-mask:active,
.store-product-image-display-overlay-mask:focus {
	/* prevent horizontal scrolling when overlay link is selected */
	outline: none;
}


/* Header */

.store-product-image-display-header {
	position: fixed;
	top: 0;
	left: 50%;
	border-bottom: 1px solid #333;
	background: #000;
	background: rgba(0,0,0,0.75);
	color: #fff;
	text-shadow: 0 1px #000;
	display: block;
	text-align: center;
	width: 100%;
	margin-left: -50%;
	-moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.80), inset 0 -5px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.80), inset 0 -5px 15px rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.80), inset 0 -5px 15px rgba(0,0,0,0.5);
}

.store-product-image-display-title {
	font-weight: bold;
	font-size: 120%;
	padding: 6px 10px;
}

.store-product-image-display-links {
	position: fixed;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 85%;
	text-transform: uppercase;
}

.store-product-image-display-links a {
	display: block;
	float: left;
	padding: 9px 10px;
	text-decoration: none;
}

.store-product-image-display-links a,
.store-product-image-display-links a:link,
.store-product-image-display-links a:visited {
	color: #fff;
}

.store-product-image-display-links a:focus {
	outline: none;
}

.store-product-image-display-close-hover,
.store-product-image-display-close-hover:link,
.store-product-image-display-links a:hover,
.store-product-image-display-links a:hover:link {
	text-decoration: underline;
}


/* Image */

.store-product-image-display-container {
	display: none;
	overflow: hidden;

	/* Border color. Done as a background since both Gecko and Webkit have */
	/* rendering bugs when using borders and rounded corners. */
	background: #aaa;
	padding: 1px;

	position: absolute;
	top: 0;
	left: 50%;

	box-shadow: 0 1px 16px #000;
	-webkit-box-shadow: 0 1px 16px #000;
	-moz-box-shadow: 0 1px 16px #000;

	zoom: 1; /* IE hack */

	/* emulate drop shadow in IE */
	filter: progid:DXImageTransform.Microsoft.shadow(Color=#111111, Direction=180) progid:DXImageTransform.Microsoft.glow(Color=#000000, Strength=2);
	-ms-filter: progid:DXImageTransform.Microsoft.shadow(Color=#111111, Direction=180) progid:DXImageTransform.Microsoft.glow(Color=#000000, Strength=2);
}

.store-product-image-display-container:active,
.store-product-image-display-container:focus {
	outline: none;
}

.store-product-image-display-wrapper {
	display: block;
	background: #fff;
	padding: 6px;
}

.store-product-image-display-image {
	display: block;
	border: none;
}


/* Pinkies */

.store-product-image-display-pinkies {
	margin: 0;
	padding: 0 0 0 15px;
	position: fixed;
	left: 0;
	top: 0;
}

.store-product-image-display-pinkies li {
	display: block;
	margin: 5px 0 0 0;
	padding: 4px;
	vertical-align: top; /* required for IE6/7 */
	text-align: left; /* required for IE6/7 */
	list-style-type: none;
}
.store-product-image-display-pinkies li.store-product-image-display-pinky-first {
	margin: 0;
}

.store-product-image-display-pinkies li.store-product-image-display-pinky-selected {
}

.store-product-image-display-pinkies li a {
	display: block;
}

.store-product-image-display-pinkies li a img {
	vertical-align: top; /* required for IE6/7 */
	display: block;

	padding: 4px;
	background: #fff;
	border: 1px solid #aaa;

	box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	-moz-box-shadow: 1px 1px 3px #000;

	/* emulate drop shadow in IE */
	filter: progid:DXImageTransform.Microsoft.glow(Color=#000000, Strength=2);
	-ms-filter: progid:DXImageTransform.Microsoft.glow(Color=#000000, Strength=2);
}

.store-product-image-display-pinkies li.store-product-image-display-pinky-selected img {
	border-color: #9b9892;
}

.store-product-image-display-pinkies li a:focus {
	outline: none;
}
