/* Side-by-side billing/shipping addresses */

.checkout-column-left {
	margin-right: 3%;
}

.checkout-column-left,
.checkout-column-right {
	width: 42%;
	float: left;
}

.checkout-no-column .swat-entry,
.checkout-column-left .swat-entry,
.checkout-column-right .swat-entry,
#card_fullname {
	width: 95%;
}


/* Stacked Addresses */

#billing_address_container,
#shipping_address_container,
.checkout-no-column #payment_method_list_container,
.checkout-no-column #payment_method_form {
	float: left;
	width: 42%;
}

#billing_address_form,
#shipping_address_form,
#payment_method_form {
	border: 0;
	padding: 0;
	margin: 0;
}
.swat-fieldset:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#payment_method_container {
	clear: left;
}

.swat-footer-form-field {
	clear: both;
}

#payment_method_container p.small-print {
	margin: 0;
}


/* Checkout Footer */

#checkout_footer .swat-note {
	font-size: 100%;
	margin-top: 0.5em;
}

#checkout_footer .swat-primary {
	font-weight: bold;
	color: #333;
	font-size: 120%;
	margin: 0;
}
