.store-checkout-progress {
	padding: 3px 0;
	background: #f5ede5;
	border: 1px solid #d2c7ba;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.store-checkout-progress ol {
	margin: 0;
	padding: 0;
}

.store-checkout-progress-clear { clear: both; line-height: 0; }

.store-checkout-progress li {
	list-style-type: none;
	float: left;
	margin: 0%;
	padding: 0;
	width: 33.333%;
	font-size: 85%;
	font-weight: bold;
	color: #afa499;
}

.store-checkout-progress li span {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #f9f5f1;
	background-image: url(../images/store-checkout-progress.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 25px;
	margin: 0 3px;
	display: block;
}

.store-checkout-progress li.store-checkout-progress-step1 span { background-position: 0 -50px; }
.store-checkout-progress li.store-checkout-progress-step2 span { background-position: 0 -150px; }
.store-checkout-progress li.store-checkout-progress-step3 span { background-position: 0 -250px; }

.store-checkout-progress-step1 li.store-checkout-progress-step1 span {
	background-position: 0 0;
	background-color: #e1dacf;
	color: #5f5851;
}

.store-checkout-progress-step2 li.store-checkout-progress-step2 span {
	background-position: 0 -100px;
	background-color: #e1dacf;
	color: #5f5851;
}

.store-checkout-progress-step3 li.store-checkout-progress-step3 span {
	background-position: 0 -200px;
	background-color: #e1dacf;
	color: #5f5851;
}
