/* {{{ Address Verification */

.account-address-verified {
	margin: 0;
	padding: 0;
}

.account-address-verified span.address {
	display: block;
	padding: 0 0.5em 1em 1em;
}

.swat-message-display .address-verification-yes {
	margin-right: 0.5em;
	font-weight: bold;
}


/* }}} */
