.store-cart-entry-view tfoot th,
.store-order-item-view tfoot th {
	text-align: right;
}

.store-cart-entry-view tbody th,
.store-order-item-view tbody th {
	background: none;
}

.store-cart-entry-view thead th,
.store-order-item-view thead th {
	white-space: nowrap;
}

.store-cart-entry-view tbody td.swat-table-view-group,
.store-order-item-view tbody td.swat-table-view-group {
	border: 0;
}

.store-cart-description {
	width: 100%;
}

.cart-discount,
.store-cart-discount {
	color: #090;
	font-size: 85%;
}

.swat-table-view .store-free {
	text-align: right;
}

/* {{{ Mini-Cart Lightbox */

#store_product_cart {
	display: none;
	position: fixed;
	top: -12px;
	right: 10px;
	width: 389px;
	z-index: 100;
}

#store_product_cart_content {
	background: url(../images/product-cart-content.png) no-repeat;
	padding: 39px 29px 30px 29px;
	min-height: 50px;
}

#store_product_cart_content #cart_form {
	max-height: 300px;
	overflow: auto;
	border-top: 1px solid #dfd5c3;
}

#store_product_cart_footer {
	background: url(../images/product-cart-footer.png) 0 100% no-repeat;
	padding: 10px 29px 29px 29px;
}

#store_product_cart #cart_view.swat-table-view tr {
	border-bottom: 1px solid #dfd5c3;
}

#store_product_cart #cart_view.swat-table-view tbody td {
	padding: 0.4em 0;
}

#store_product_cart #cart_view.swat-table-view .store-cart-description {
	width: 100%;
	padding: 0.4em;
}

#store_product_cart #cart_view.swat-table-view {
	margin: 0.5em auto;
}

#store_product_cart #cart_view.swat-table-view th {
	font-weight: normal;
}

#store_product_cart #cart_view.swat-table-view tbody td {
	vertical-align: top;
}

#store_product_cart #cart_view.swat-table-view tbody td.item-sku {
	font-weight: bold;
}

#store_product_cart #cart_view.swat-table-view tbody td.description-column {
	color: #6B685B
}

#store_product_cart #cart_view.swat-table-view tbody td.description-column .price-quantity {
	font-weight: bold;
}

#store_product_cart #store_product_cart_footer {
	text-align: center;
}

#store_product_cart #store_product_cart_footer a {
	font-weight: bold;
	padding: 0 6px;
}

#store_product_cart .swat-message-cart {
	background-image: none;
	margin: 10px 0;
	padding: 5px;
}

#store_product_cart .swat-message-primary-content {
	margin: 0;
}

/* }}} */
