@import url("store-cart.css");

.checkout-column-left  .swat-tool-link,
.checkout-column-right .swat-tool-link,
.checkout-no-column    .swat-tool-link {
	border: 1px solid;
	font-family: sans-serif;
	font-size: 80%;
	font-weight: normal;
	padding-bottom: 3px;
	padding-top: 3px;
	display: block;
	float: right;
}

.swat-fieldset address {
	font-style: normal;
}

#item_container,
#payment_method_container {
	clear: left;
}

#checkout_footer .swat-primary {
	font-weight: bold;
	font-size: 120%;
	margin: 0;
}


/* Side-by-side billing/shipping addresses */

.checkout-column-left {
	margin-right: 4%;
}

.checkout-column-left,
.checkout-column-right {
	width: 42%;
	float: left;
}

#tax_message {
	margin-top: 1em;
	text-align: right;
}

/* {{{ Multiple Payments Table */

.multiple-payment-table {
	margin: 0;
}

.multiple-payment-table th.payment {
	width: 98%;
}

.multiple-payment-table .payment-amount {
	text-align: right;
}

.multiple-payment-table tbody th {
	font-weight: normal;
}

.multiple-payment-table tbody th.payment,
.multiple-payment-table tbody td.payment-amount {
	border-bottom: 1px solid #ddd;
}

.multiple-payment-table tfoot th {
	text-align: right;
}

.multiple-payment-table tfoot td.payment-amount {
	font-weight: bold;
}

.multiple-payment-table .payment-remaining .payment-amount {
	background: #ffe3e0;
	color: #c00;
	font-weight: bold;
	border: 1px solid #dc6e66;
}

.new-payment-link {
	margin: 0.5em 0 0 0;
}

/* }}} */
