#store_cart_lightbox {
	position: fixed;
	top: -12px;
	right: -1000px; /* position it off the page so that images pre-load */
	width: 378px;
	text-align: left;
	z-index: 1000;
}

* html #store_cart_lightbox {
	position: absolute;
}

#store_cart_lightbox_body {
	background: url(../images/mini-cart-background.png) repeat-y -378px 0;
	padding: 0 14px;
}

#store_cart_lightbox_top {
	background: url(../images/mini-cart-background.png) no-repeat 0 100%;
	height: 27px;
}

#store_cart_lightbox_bottom {
	background: url(../images/mini-cart-background.png) no-repeat -756px 100%;
	height: 26px;
}

/* {{{ IE hacks */

/* IE doesn't play nice with 24bit png's whose style.opacity changes */

* html #store_cart_lightbox_top,
* html #store_cart_lightbox_body,
* html #store_cart_lightbox_bottom {
	background-image: url(../images/mini-cart-background-ie.png);
}

/* IE 7 */
*+html #store_cart_lightbox_top,
*+html #store_cart_lightbox_body,
*+html #store_cart_lightbox_bottom {
	background-image: url(../images/mini-cart-background-ie.png);
}

/* IE 8 */
#store_cart_lightbox_top,
#store_cart_lightbox_body,
#store_cart_lightbox_bottom {
	background-image: url(../images/mini-cart-background-ie.png)\0/;
}

/* }}} */

#store_cart_lightbox #lightbox_cart_form {
	max-height: 300px;
	overflow: auto;
	border-top: 1px solid #dfd5c3;
	border-bottom: 1px solid #dfd5c3;
	margin: 15px 0 10px 0;
}

#store_cart_lightbox_content {
	padding-top: 5px;
}

#store_cart_lightbox .swat-table-view tbody tr {
	background: #f0e6d6;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view tr {
	border-bottom: 1px solid #dfd5c3;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view tr:last-child {
	border-bottom: 0;
}

#store_cart_lightbox .swat-table-view .swat-table-view-group {
	background: #fff;
	padding-top: 10px;
	padding-left: 10px;
}

#store_cart_lightbox div.swat-table-view-column-renderer {
	display: block;
}

#store_cart_lightbox tbody td {
	padding-top: 3px;
	padding-bottom: 3px;
}

#store_cart_lightbox .discount {
	color: #090;
}

#store_cart_lightbox tbody td.swat-image-cell-renderer {
	padding-left: 10px;
}

#store_cart_lightbox tbody td.remove-column {
	padding-right: 10px;
}

#store_cart_lightbox tbody td.quantity-column {
	padding: 8px 6px 0 0;
	font-weight: bold;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view .store-cart-description {
	width: 100%;
	padding: 0.4em;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view {
	margin: 0;
	width: 100%;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view th {
	font-weight: normal;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view tbody td {
	vertical-align: top;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view tbody td.description-column {
	color: #6B685B
}

#store_cart_lightbox input.store-remove {
	background: #fff;
	color: #900;
}

#store_cart_lightbox input.store-remove:hover {
	color: #b00;
}

#store_cart_lightbox #lightbox_cart_view.swat-table-view tbody td.remove-column .swat-money-cell-renderer {
	font-size: 135%;
	font-weight: bold;
}

#store_cart_lightbox img.swat-image-cell-renderer {
	border: 1px solid #8f8874;
	background: #fff;
	padding: 2px;
}

#store_cart_lightbox .added-message {
	padding: 4px;
	float: right;
	background: #fffbc9;
	width: 130px;
	text-align: center;
}

#store_cart_lightbox h3 {
	margin: 0 10px;
	font-size: 130%;
}

#store_cart_lightbox .store-cart-description h4 {
	color: #3f0e08;
	font-size: 13px;
	margin-bottom: 3px;
}

#store_cart_lightbox .store-cart-description {
	font-size: 11px;
}

#store_cart_lightbox .store-cart-description a.more-link {
	font-weight: bold;
}

#store_cart_lightbox .empty-content {
	padding: 0 10px;
}

#store_cart_lightbox .empty-content h3 {
	margin: 0 0 10px 0;
}

#store_cart_lightbox #lightbox_cart_link_container {
	float: right;
	padding: 10px;
}

#store_cart_lightbox #checkout_container {
	float: right;
	padding: 10px;
}

#store_cart_lightbox #checkout_form {
	margin: 5px 10px 0 10px;
}

/* {{{ SwatMessageDisplay embedded in Cart Lightbox */

#store_cart_lightbox .swat-message {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-width: 1px 0;
}

#store_cart_lightbox .swat-message .swat-message-container {
	padding-top: 12px;
}

/* }}} */
