/* Billing & Shipping Addresses */

#billing_address_form,
#shipping_address_form {
	border: 0;
	padding: 0;
	margin: 1em;
}

.add-new {
	font-family: sans-serif;
	font-weight: bold;
}

.swat-form #mailing_subscriber_field {
	clear: left;
}

.swat-form #mailing_subscriber_field label {
	font-weight: normal;
}
