.category-not-visible td,
.product-not-visible td, span.product-not-visible,
.item-disabled td {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}
