.catalog-switcher {
	text-align: right;
}

.catalog-switcher label {
	font-size: 85%;
	color: #837352;
}

.catalog-switcher .swat-form-field-contents {
	display: inline;
}

.catalog-switcher select,
.catalog-switcher input {
	font-size: 85%;
	vertical-align: middle;
	padding: 1px;
	border: 1px solid #dcceb2;
	color: #837352;
}

.catalog-switcher input {
	background: #f6f2ea;
}
