#quick_search_form {
	border: 1px solid #e7ddc8;
	margin-bottom: 0.5em;
	background: #fff;
}

#quick_search_form div.swat-form-field {
	padding: 0.5em;
	margin: 1px;
	background: #f8f6f0;
}

#quick_search_form label {
	vertical-align: middle;
	color: #837352;
	font-size: 80%;
}

#quick_search_form .swat-form-field-contents {
	display: inline;
}


#quick_search_form input {
	vertical-align: middle;
}

#quick_search_form input.swat-button {
	margin-left: 0.3em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}
