#order_numbers {
	float: left;
	margin-right: 1em;
	position: relative;
}

#customer_info {
	float: left;
	position: relative;
}

#date_range {
	clear: left;
}

#date_after {
	float: left;
	margin-right: 2em;
}

.swat-table-view td.has-notes {
	padding: 1px 0 2px;
}

.has-notes .admin-notes {
	display: block;
	color: #947140;
	background: #fffbc9;
	padding: 2px 4px;
	border: 1px solid #f0dca1;
}
