.order-legend {
  padding-top: 20px;
}

.order-legend table {
  float: right;
}

.order-legend table td:nth-child(2) {
  padding-right: 10px;
}

.store-order-chart-tooltip {
  position: absolute;
  display: none;
  padding: 4px 6px;
  background-color: #fff9c4;
  border-radius: 2px;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.54);
}
