#attributes_form_field .swat-form-field {
	float: left;
	margin-right: 2em;
}

#edit_warnings,
#edit_warnings .swat-message {
	margin-top: 0;
}

.product-categories li {
	margin-bottom: 6px;
}

.product-categories li .swat-nav-bar {
	display: inline;
}

.product-categories .canonical-category {
	margin-left: 6px;
	display: inline-block;
	background: #4e9a06;
	color: #fff;
	padding: 2px 4px;
	font-size: 11px;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
