#order_numbers {
	float: left;
	margin-right: 1em;
	position: relative;
}

#customer_info {
	float: left;
	position: relative;
}

#date_range {
	clear: left;
}

#date_after {
	float: left;
	margin-right: 2em;
}

.swat-table-view td.order-notes-row {
	padding: 1px 0 2px;
}

.order-public-notes,
.order-private-notes {
	display: block;
	padding: 2px 4px;
}

.order-public-notes {
	color: #438d04;
	background: #d9e8cd;
	border: 1px solid #8ebb68;
}

.order-private-notes {
	color: #947140;
	background: #fffbc9;
	border: 1px solid #f0dca1;
}
